<!DOCTYPE html>
<html lang="en" xmlns:th="http:/thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage Suppliers</title>
  <link rel="stylesheet" href="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>

<div class="container">
  <h2>Suppliers List</h2>



  <div th:if="${message}" class="alert alert-success text center" role="alert" >
    <span th:text="${message}"></span>
  </div>

  <div>
    <table class="table table-striped">

        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Site</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>



        <tr th:each="supplier : ${listSupplier}">
          <td th:text="${supplier.id}"></td>
          <td th:text="${supplier.name}"></td>
          <td th:text="${supplier.email}"></td>
          <td th:text="${supplier.phone}"></td>
          <td th:text="${supplier.site}"></td>
          <td>
            <a class="btn btn-success" th:href="@{'/supplier/edit/' + ${supplier.id}}">Edit</a>
          </td>
          <td>
            <a class="btn btn-danger" th:href="@{'/supplier/delete/' + ${supplier.id}}">Delete</a>
          </td>
        </tr>


    </table>
  </div>

  <div class="col-sm-3">
    <a class="btn btn-primary" th:href="@{/supplier/new/}">Add new Supplier</a>
  </div>
</div>

</body>
</html>